body{
    background-color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #191f25);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 25px;
    height: 65;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 60;

}

.weather-icon{
    width: 170px;
}